<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MobileTracking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MobileTrackingDevice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MobileTrackingSimulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A632A1718CEB10B00BE2533</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A632A2718CEB10B00BE2533</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A8171FF18DAEB3A00E0EFEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A81721C18DAECA100E0EFEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
